body
	.section-title,
	.section-headline
		color: $tundora
		text-align: center
		
	.section-title
		font-size: 3rem
		font-weight: bold
		
	.section-headline
		font-size: 2rem
		font-weight: 100
		letter-spacing: 1px
		margin: 0 0 50px 0