#discover
	margin: 0 0 60px 0
	
	.carousel
		.slide
			background-size: cover
			background-position: center
			padding: 75px 0
			text-align: center
			position: relative
			
			&:before
				background-color: rgba(0,0,0,.3)
				content: ''
				height: 100%
				left: 0
				position: absolute
				top: 0
				transition: all .5s ease
				width: 100%
				z-index: 1
			
			&:first-of-type
				background-image: url('../img/h-swimming-pool.jpg')
				
			.price,
			.rating,
			.title,
			.btn
				position: relative
				z-index: 2
				
			.price
				color: $white
				font-size: 2rem
				
			.rating
				margin: 0
				padding: 0

				li 
					color: $mercury
					display: inline-block
					font-size: 1.6rem
					list-style: none
					
					.fa
						&.on
							color: $gold
							
			.title
				color: $white
				font-size: 5rem
				font-weight: bold
				margin: 0 0 45px 0
				
			.btn
				background-color: $yellow-orange
				border: none
				letter-spacing: 1px
				padding: 15px 60px
				text-transform: uppercase
				position: relative
				z-index: 2
				
				&:before
					background-color: transparent
					border: rgba(0,0,0, .5) 10px solid
					border-radius: 4px
					box-sizing: content-box
					content: ''
					display: inline-block
					height: 100%
					left: -10px
					position: absolute
					top: -10px
					width: 100%
					z-index: 1