#featured-products
	padding: 60px 0
	
	.product-wrapper
		margin-bottom: 25px
		
		&:first-of-type
			.product
				background-image: url('../img/enotel-acqua-club-porto-de-galinhas.jpg')
			
		&:nth-of-type(2n)
			.product
				background-image: url('../img/iberostar-bahia-all-inclusive.jpg')
				
		&:nth-of-type(3n)
			.product
				background-image: url('../img/infinity-blue-resort-spa.jpg')
				
		&:nth-of-type(4n)
			.product
				background-image: url('../img/le-canton-hotel-village.jpg')
				
		&:nth-of-type(5n)
			.product
				background-image: url('../img/portogalo-suite-hotel.jpg')
				
		&:last-of-type
			.product
				background-image: url('../img/royal-thermas-resort-spa.jpg')
			
		.product
			background-size: cover
			background-position: center
			border-radius: 5px
			cursor: pointer
			height: 250px
			overflow: auto
			padding: 0 20px
			position: relative
			
			&:before
				background-color: rgba(0,0,0,.3)
				content: ''
				height: 100%
				left: 0
				position: absolute
				top: 0
				transition: all .5s ease
				width: 100%
				z-index: 1
				
			&:hover				
				&:before
					background-color: rgba(0,0,0,.6)
					
				.title
					color: $yellow-orange
				
			.title,
			.rating,
			.price
				position: relative
				z-index: 2
				
			.title,
			.rating,
			.price
				text-align: center
				
			.title
				color: $white
				font-size: 2rem
				font-weight: bold
				line-height: 1.2em
				margin: 50px 0 0 0
				padding: 0 10px
				transition: all .5s ease
		
			.rating
				margin: 10px 0
				padding: 0
				
				li 
					color: $mercury
					display: inline-block
					font-size: 1.6rem
					list-style: none
					
					.fa
						&.on
							color: $gold
							
			.price
				color: $white
				font-size: 1.6rem
				font-weight: bold
				
			.footer
				bottom: 10px
				left: 0
				position: absolute
				width: 100%
				z-index: 2
				
				.features,
				.location
					margin: 0
					padding: 0 10px
					
					li,
					p
						color: $white
						font-size: 1.2rem
						font-weight: 100
						letter-spacing: 1px
						margin: 0
						padding: 0
					
				.features
					float: left
				
				.location
					float: right
					
					p
						text-align: right
						
						&.title
							font-size: 1.4rem