@import '../../vendors/bootstrap/dist/css/bootstrap.css'
@import '../../vendors/font-awesome/css/font-awesome.css'

// globals
@import 'globals/colors'
@import 'globals/theme'

// components
@import 'components/home-hero'
@import 'components/featured-products'
@import 'components/discover'
@import 'components/experiences'
@import 'components/about'
@import 'components/maplinks'
@import 'components/footer'